* {
  /*remove gaps*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --overlay: #2a2e3c;
  --button: #fb5c05;
  --header1: #000;
  --header2: #333;
  --text-1: #3a60cf;
  --text-2: #9c9c9c;
  --primary: #eddeeb;
  --secondary: #7e7a7d;
}
html {
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  color: var(--text-1);
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-image: url(yoga-pose.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.page-container {
  max-width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
html::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--overlay);
  opacity: 0.5;
  z-index: -1;
}
.title-container {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  margin: 1.5rem;
}
.title {
  color: var(--header1);
  text-transform: uppercase;
}
.description {
  color: var(--header2);
}
.form-container {
  width: 85vw;
  background-color: #fff;
  opacity: 0.8;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  color: var(--text-1);
}
.survey-form {
  width: 100%;
}
.form-container input[type="text"],
input[type="email"],
#dropdown {
  outline: none;
  margin-top: 5px;
  margin-bottom: 8px;
  width: 100%;
  height: 30px;
  color: var(--secondary);
  border-radius: 10px;
}
.form-container #radio,
#checkbox {
  padding: 5px;
}
.form-container textarea {
  margin-top: 10px;
  padding: 0.5rem;
  outline: none;
  border-radius: 10px;
  width: 100%;
  height: 100px;
}
.form-container button {
  width: 50%;
  height: 2rem;
  text-transform: uppercase;
  color: var(--header2);
  font-weight: 800;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 5px 4px 15px var(--button);
  border-radius: 20px;
  margin-top: 10px;
  background-color: var(--button);
  position: relative;
}

/* .form-container button:after {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: -50px;
  background: #fff;
  width: 10px;
  height: 40px;
  opacity: 40%;
  transform: rotate(-45deg);
  border-radius: 5px;
}
.form-container button:hover:after {
  left: 120%;
  transition: all 1200ms cubic-bezier(0.3, 1, 0.2, 1);
  -webkit-transition: all 1200ms cubic-bezier(0.3, 1, 0.2, 1);
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 5;
}
.msg-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 6rem;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 4rem rgba(0.4, 0.3, 0, 0.226);
  z-index: 10;
}
.hidden {
  display: none;
}
.modal-close {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  max-width: 2rem;
}
.message-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 4rem;
  width: 55vw;
  margin-bottom: 2rem;
}
/* Tablets */
@media only screen and (min-width: 490px) {
  .page-container {
    font-size: 1.5rem;
  }
  .title-container {
    font-size: 2rem;
  }
  .form-container button {
    height: 3rem;
    width: 30%;
    font-size: 1.8rem;
  }
  .msg-modal {
    font-size: 1.5rem;
    width: 70vw;
  }
  .modal-close {
    width: 3.5rem;
    bottom: 1rem;
  }

  .message-header {
    font-size: 1.6rem;
    width: 60vw;
  }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
  .form-container {
    width: 60vw;
    margin-top: 1.5rem;
    font-size: 2rem;
  }
  .title-container {
    font-size: 2.5rem;
  }
  .msg-modal {
    width: 50vw;
  }
  .message-header {
    width: 45vw;
  }
}
